.gpa{padding: 100px 0;background-color: #552c2c;}
.container{
}
.container .row{}
label{
    padding: 10px 0;
    font-size: 20px ;
    color: #fbee4b;
    font-weight: 700;
}
.container input{
    margin: 10px 0;
}
.container p{
    font-size: 20px;
    font-weight: ;
}

